// Here you can add other styles
.pratinjau-foto .detil-foto{
    width: 250px;
    border-radius: 20px;
}
.pratinjau-foto{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}